In [1]:
import numpy as np
import pandas as pd
# For visualizations
import matplotlib.pyplot as plt
# For regular expressions
import re
# For handling string
import string
# For performing mathematical operations
import math

# Importing dataset
df=pd.read_csv('C://DS_Practice//Data_Sets//Amazon_data.csv') 
print("Shape of data=>",df.shape)

Shape of data=> (34660, 21)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df1=df[['name','reviews.text','reviews.doRecommend','reviews.numHelpful']]
print("Shape of data=>",df1.shape)
df1.head(5)

Shape of data=> (34660, 4)

,name,reviews.text,reviews.doRecommend,reviews.numHelpful
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",This product so far has not disappointed. My c...,True,0.0
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",great for beginner or experienced person. Boug...,True,0.0
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Inexpensive tablet for him to use and learn on...,True,0.0
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",I've had my Fire HD 8 two weeks now and I love...,True,0.0
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",I bought this for my grand daughter when she c...,True,0.0

In [4]:
df.isnull().sum() #gives information of isnull records count in each column
#df.isnull() #returns every feature specific value as True/False

id                          0
name                     6760
asins                       2
brand                       0
categories                  0
keys                        0
manufacturer                0
reviews.date               39
reviews.dateAdded       10621
reviews.dateSeen            0
reviews.didPurchase     34659
reviews.doRecommend       594
reviews.id              34659
reviews.numHelpful        529
reviews.rating             33
reviews.sourceURLs          0
reviews.text                1
reviews.title               5
reviews.userCity        34660
reviews.userProvince    34660
reviews.username            2
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [6]:
df1.isnull().sum() #gives information of isnull records count in each column

name                   6760
reviews.text              1
reviews.doRecommend     594
reviews.numHelpful      529
dtype: int64

In [7]:
df1.isnull().sum()

name                   6760
reviews.text              1
reviews.doRecommend     594
reviews.numHelpful      529
dtype: int64

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 27900 non-null  object
 1   reviews.text         34659 non-null  object
 2   reviews.doRecommend  34066 non-null  object
 3   reviews.numHelpful   34131 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.1+ MB

In [9]:
df1.dropna(inplace=True) # will drop all the record(s) with atleast one column value as null

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27409 entries, 0 to 27899
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 27409 non-null  object
 1   reviews.text         27409 non-null  object
 2   reviews.doRecommend  27409 non-null  object
 3   reviews.numHelpful   27409 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.0+ MB

In [11]:
df1.isnull().sum()

name                   0
reviews.text           0
reviews.doRecommend    0
reviews.numHelpful     0
dtype: int64

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27409 entries, 0 to 27899
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 27409 non-null  object
 1   reviews.text         27409 non-null  object
 2   reviews.doRecommend  27409 non-null  object
 3   reviews.numHelpful   27409 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.0+ MB

In [13]:
df2=df1.groupby('name').filter(lambda x:len(x)>500).reset_index(drop=True)
print('Number of products=>',len(df1['name'].unique()))

Number of products=> 44

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26068 entries, 0 to 26067
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 26068 non-null  object
 1   reviews.text         26068 non-null  object
 2   reviews.doRecommend  26068 non-null  object
 3   reviews.numHelpful   26068 non-null  float64
dtypes: float64(1), object(3)
memory usage: 814.8+ KB

In [15]:
df1['reviews.doRecommend']

0         True
1         True
2         True
3         True
4         True
         ...
27895     True
27896     True
27897     True
27898    False
27899     True
Name: reviews.doRecommend, Length: 27409, dtype: object

In [16]:
df2['reviews.doRecommend']

0         True
1         True
2         True
3         True
4         True
         ...
26063     True
26064     True
26065     True
26066    False
26067     True
Name: reviews.doRecommend, Length: 26068, dtype: object

In [17]:
df2['reviews.doRecommend']=df2['reviews.doRecommend'].astype(int)  # conversion of Boolean values to numeric True as 1 and False 0
df2['reviews.numHelpful']=df2['reviews.numHelpful'].astype(int)

In [18]:
df2['reviews.doRecommend']

0        1
1        1
2        1
3        1
4        1
        ..
26063    1
26064    1
26065    1
26066    0
26067    1
Name: reviews.doRecommend, Length: 26068, dtype: int32

In [19]:
df2['name'].unique()

array(['All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi, 16 GB - Includes Special Offers, Magenta',
       'Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes Special Offers, Magenta',
       'Brand New Amazon Kindle Fire 16gb 7 Ips Display Tablet Wifi 16 Gb Blue,,,',
       'Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16 GB, Green Kid-Proof Case',
       'Amazon Kindle Paperwhite - eBook reader - 4 GB - 6 monochrome Paperwhite - touchscreen - Wi-Fi - black,,,',
       'Kindle Voyage E-reader, 6 High-Resolution Display (300 ppi) with Adaptive Built-in Light, PagePress Sensors, Wi-Fi - Includes Special Offers,',
       'Echo (White),,,\r\nEcho (White),,,',
       'Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,'], dtype=object)

In [20]:
df2['name']=df2['name'].apply(lambda x: x.split(',,,')[0])

In [21]:
for index,text in enumerate(df['reviews.text'][35:40]):
  print('Review %d:\n'%(index+1),text)

Review 1:
 I love everything about this tablet! The imaging is sharp and clear. It's fast and light weight. Love it!
Review 2:
 Overall a nice product for traveling purposes Value for money
Review 3:
 My children love this table great quality of pictures, excellent camera
Review 4:
 I bought 3 tablets and my family was not disappointed.
Review 5:
 Great tablet fast screen good size never gives me problem

In [22]:
# Dictionary of English Contractions
contractions_dict = { "ain't": "are not","'s":" is","aren't": "are not",
                     "can't": "cannot","can't've": "cannot have",
                     "'cause": "because","could've": "could have","couldn't": "could not",
                     "couldn't've": "could not have", "didn't": "did not","doesn't": "does not",
                     "don't": "do not","hadn't": "had not","hadn't've": "had not have",
                     "hasn't": "has not","haven't": "have not","he'd": "he would",
                     "he'd've": "he would have","he'll": "he will", "he'll've": "he will have",
                     "how'd": "how did","how'd'y": "how do you","how'll": "how will",
                     "I'd": "I would", "I'd've": "I would have","I'll": "I will",
                     "I'll've": "I will have","I'm": "I am","I've": "I have", "isn't": "is not",
                     "it'd": "it would","it'd've": "it would have","it'll": "it will",
                     "it'll've": "it will have", "let's": "let us","ma'am": "madam",
                     "mayn't": "may not","might've": "might have","mightn't": "might not", 
                     "mightn't've": "might not have","must've": "must have","mustn't": "must not",
                     "mustn't've": "must not have", "needn't": "need not",
                     "needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
                     "oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
                     "shan't've": "shall not have","she'd": "she would","she'd've": "she would have",
                     "she'll": "she will", "she'll've": "she will have","should've": "should have",
                     "shouldn't": "should not", "shouldn't've": "should not have","so've": "so have",
                     "that'd": "that would","that'd've": "that would have", "there'd": "there would",
                     "there'd've": "there would have", "they'd": "they would",
                     "they'd've": "they would have","they'll": "they will",
                     "they'll've": "they will have", "they're": "they are","they've": "they have",
                     "to've": "to have","wasn't": "was not","we'd": "we would",
                     "we'd've": "we would have","we'll": "we will","we'll've": "we will have",
                     "we're": "we are","we've": "we have", "weren't": "were not","what'll": "what will",
                     "what'll've": "what will have","what're": "what are", "what've": "what have",
                     "when've": "when have","where'd": "where did", "where've": "where have",
                     "who'll": "who will","who'll've": "who will have","who've": "who have",
                     "why've": "why have","will've": "will have","won't": "will not",
                     "won't've": "will not have", "would've": "would have","wouldn't": "would not",
                     "wouldn't've": "would not have","y'all": "you all", "y'all'd": "you all would",
                     "y'all'd've": "you all would have","y'all're": "you all are",
                     "y'all've": "you all have", "you'd": "you would","you'd've": "you would have",
                     "you'll": "you will","you'll've": "you will have", "you're": "you are",
                     "you've": "you have"}

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

# Function for expanding contractions
def expand_contractions(text,contractions_dict=contractions_dict):
  def replace(match):
    return contractions_dict[match.group(0)]
  return contractions_re.sub(replace, text)

# Expanding Contractions in the reviews
df2['reviews.text']=df2['reviews.text'].apply(lambda x:expand_contractions(x))

In [23]:
df2['reviews.text']

0        This product so far has not disappointed. My c...
1        great for beginner or experienced person. Boug...
2        Inexpensive tablet for him to use and learn on...
3        I have had my Fire HD 8 two weeks now and I lo...
4        I bought this for my grand daughter when she c...
                               ...
26063    It has many uses. You can listen to music, che...
26064    Cost is not outrageous. Easy setup, fun to use...
26065    I knew about this from its crowd funding start...
26066    This is a neat product but did not fit my need...
26067    Responses well and there are lots of skills to...
Name: reviews.text, Length: 26068, dtype: object

In [24]:
df2['cleaned']=df2['reviews.text'].apply(lambda x: x.lower())  #Lowercase the reviews

In [25]:
df2['cleaned']

0        this product so far has not disappointed. my c...
1        great for beginner or experienced person. boug...
2        inexpensive tablet for him to use and learn on...
3        i have had my fire hd 8 two weeks now and i lo...
4        i bought this for my grand daughter when she c...
                               ...
26063    it has many uses. you can listen to music, che...
26064    cost is not outrageous. easy setup, fun to use...
26065    i knew about this from its crowd funding start...
26066    this is a neat product but did not fit my need...
26067    responses well and there are lots of skills to...
Name: cleaned, Length: 26068, dtype: object

In [26]:
df2['cleaned']=df2['cleaned'].apply(lambda x: re.sub('\w*\d\w*','', x)) #Remove digits and words containing digits

In [27]:
df2['cleaned']=df2['cleaned'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x)) #Remove Punctuations

In [28]:
# Removing extra spaces
df2['cleaned']=df2['cleaned'].apply(lambda x: re.sub(' +',' ',x))

In [29]:
df2['cleaned']

0        this product so far has not disappointed my ch...
1        great for beginner or experienced person bough...
2        inexpensive tablet for him to use and learn on...
3        i have had my fire hd two weeks now and i love...
4        i bought this for my grand daughter when she c...
                               ...
26063    it has many uses you can listen to music check...
26064    cost is not outrageous easy setup fun to use a...
26065    i knew about this from its crowd funding start...
26066    this is a neat product but did not fit my need...
26067    responses well and there are lots of skills to...
Name: cleaned, Length: 26068, dtype: object

In [30]:
for index,text in enumerate(df2['cleaned'][35:40]):
  print('Review %d:\n'%(index+1),text)

Review 1:
 i love everything about this tablet the imaging is sharp and clear it is fast and light weight love it
Review 2:
 overall a nice product for traveling purposes value for money
Review 3:
 my children love this table great quality of pictures excellent camera
Review 4:
 i bought tablets and my family was not disappointed
Review 5:
 great tablet fast screen good size never gives me problem

In [31]:
#pip install spacy

In [32]:
#pip install spacy.en_core_web_sm

In [33]:
#pip install en_core_web_sm

In [44]:
# Importing spacy
import spacy #as sp
from spacy.lang.en.stop_words import STOP_WORDS
import en_core_web_sm

# Loading model
#nlp = spacy.load('en_core_web_sm',disable=['parser', 'ner'])
nlp= en_core_web_sm.load()  #disable=['parser', 'ner'])

# Lemmatization with stopwords removal
df2['lemmatized']=df2['cleaned'].apply(lambda x: ' '.join([token.lemma_ for token in list(nlp(x)) if (token.is_stop==False)]))

ModuleNotFoundError: No module named 'en_core_web_sm'

In [45]:
#python -m spacy download en_core_web_sm

In [42]:
pip3 install en_core_web_sm

SyntaxError: invalid syntax (<ipython-input-42-7124342f043c>, line 1)