In [46]:
import pandas as pd

In [47]:
data=pd.read_csv("C://my_folder//python//housing.csv")

In [48]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [49]:
data_original = data.copy()

In [50]:
labels = data_original.median_house_value

In [51]:
#data.total_bedrooms.fillna(1)
#data.total_bedrooms.fillna(data.total_bedrooms.mean(),inplace=True) #The missing values are replaced with mean
#data.total_bedrooms.fillna(0,inplace=True)  #The missing values are replaced with 0
data.total_bedrooms.fillna(data.total_bedrooms.mean(),inplace=True)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [53]:
data.drop('ocean_proximity',axis=1,inplace=True) #to remove catogorical variable from data

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 1.4 MB

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
'''If you dont specify the random_state in your code, then every time you run(execute) your code a new random value 
is generated and the train and test datasets would have different values each time.
However, if a fixed value is assigned like random_state = 42 then no matter how many times you execute your code 
the result would be the same .i.e, same values in train and test datasets.
training will be 80% and test percentage is 20'''
train_set,test_set=train_test_split(data,test_size=0.2,random_state=42)
train_set.shape,test_set.shape

((16512, 9), (4128, 9))

In [58]:
#train_set.shape, test_set.shape, test_set.columns
print(train_set.shape )

(16512, 9)

In [38]:
train_labels=train_set.median_house_value

In [61]:
train_set.iloc[0:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
14196,-117.03,32.71,33,3126,627.0,2300,623,3.2596,103000
8267,-118.16,33.77,49,3382,787.0,1314,756,3.8125,382100
17445,-120.48,34.66,4,1897,331.0,915,336,4.1563,172600
14265,-117.11,32.69,36,1421,367.0,1418,355,1.9425,93400
2271,-119.80,36.78,43,2382,431.0,874,380,3.5542,96500

In [62]:
train_set=train_set.drop('median_house_value',axis=1)

In [63]:
train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
14196,-117.03,32.71,33,3126,627.0,2300,623,3.2596
8267,-118.16,33.77,49,3382,787.0,1314,756,3.8125
17445,-120.48,34.66,4,1897,331.0,915,336,4.1563
14265,-117.11,32.69,36,1421,367.0,1418,355,1.9425
2271,-119.80,36.78,43,2382,431.0,874,380,3.5542
...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35,1330,201.0,658,217,6.3700
11964,-117.43,34.02,33,3084,570.0,1753,449,3.0500
5390,-118.38,34.03,36,2101,569.0,1756,527,2.9344
860,-121.96,37.58,15,3575,597.0,1777,559,5.7192
15795,-122.42,37.77,52,4226,1315.0,2619,1242,2.5755

In [70]:
train_labels.shape, train_set.shape

((16512,), (16512, 8))

In [74]:
#test_labels=test_set.median_house_value
#test_set.drop('median_house_value',axis=1,inplace=True)
#test_labels.shape, test_set.shape
test_set.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [75]:
test_set=test_set.drop('median_house_value',axis=1)

AttributeError: 'NoneType' object has no attribute 'drop'

In [76]:
test_labels.shape, test_set.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [77]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

In [78]:
lin_reg.fit(train_set,train_labels) # will result into weights for each input variable, 
                                    # the model is ready to predict any value or test data values
                                    # will return the weights/coeeficients for all input variables

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
lin_reg.coef_   # will gives the weights for all selected input variables

array([-4.26323917e+04, -4.24500719e+04,  1.18280965e+03, -8.18797708e+00,
        1.16260128e+02, -3.84922131e+01,  4.63425720e+01,  4.05384044e+04])

In [80]:
test_set

In [81]:
pred_y = lin_reg.predict(test_set)

ValueError: Expected 2D array, got scalar array instead:
array=None.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [82]:
pred_y

NameError: name 'pred_y' is not defined

In [83]:
data_p=pd.read_csv("C://my_folder//python//housing_p.csv")
data_p
pred_p = lin_reg.predict(data_p)

In [84]:
pred_p

array([199260.28362218])

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
err=mean_absolute_error(test_labels,pred_y)
err

In [ ]:
from sklearn.metrics import mean_absolute_error
err1=mean_absolute_error(train_labels,lin_reg.predict(train_set))
err1  #test

In [ ]:
data.columns #["ocean_proximity"] #.value_counts()  # will count and group the column data into distinct values with record count

In [ ]:
print(err)
print(err1)  #test